<% @page_title = "Orders show \u{1f60e}" %>
<h2 style="margin: 35px; text-align: center;"> See Order <%= @order.id %>'s info </h2>

<table class="table table-secondary table-striped container shadow-sm p-3 mb-5">
  <thead class="thead-dark">
  <tr>
    <th> ID </th>
    <th> Customer </th>
    <th> Total Bill </th>
    <th> Items </th>
    <th> Created </th>
    <th> Updated </th>
    <th colspan="2"> Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= @order.id %> </td>
    <td> <%= link_to(@order.customer.name, {controller: :customers, action: :show, id: @order.customer.id}) %> </td>
    <td> <%= @order.total_bill %> </td>
    <td> <%= @order.item_names %> </td>
    <td> <%= time_ago_in_words(@order.created_at) %> </td>
    <td> <%= time_ago_in_words(@order.updated_at) %> </td>
    <td>
      <%= link_to('Edit', {action: :edit, id: @order.id}, class: 'btn btn-outline-primary btn-sm') %>
      <%= link_to('Destroy', {action: :destroy, id: @order.id}, method: :destroy, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary btn-sm') %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to("Go Back", {action: :index}, class: 'btn btn-secondary btn-block container') %>
