<% @page_title = "#{@item.name} \u{1f60e}" %>
<h2 style="margin: 35px; text-align: center;"> See <%= @item.name %>'s info </h2>

<table class="table table-secondary table-striped container shadow-sm p-3 mb-5">
  <thead class="thead-dark">
  <tr>
    <th> ID </th>
    <th> Order ID </th>
    <th> Name </th>
    <th> Description </th>
    <th> Price </th>
    <th> Quantity </th>
    <th> Size </th>
    <th> Total </th>
    <th colspan="2"> Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= @item.id %> </td>
    <td> <%= @item.order_id %> </td>
    <td> <%= @item.name %> </td>
    <td> <%= @item.description %> </td>
    <td> <%= @item.price %> </td>
    <td> <%= @item.quantity %> </td>
    <td> <%= @item.size %> </td>
    <td> <%= @item.total %> </td>
    <td id="links">
      <%= link_to('Edit', {action: :edit, id: @item.id}, class: 'btn btn-outline-primary btn-sm') %>
      <%= link_to('Destroy', {action: :destroy, id: @item.id}, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary btn-sm') %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to("Go Back", {action: :index}, class: 'btn btn-secondary btn-block container') %>